/********************* General site style rules ****************************/
html {
 margin: 0;
 padding:0;
}

body {
background-color:#f5f5f5;
margin:0;
padding:0;
color: green;
}

a{
  color: #121210;
}
a:hover{
    text-decoration: none;
    /*color: green;*/
    color:darkred;
}

.text-wrapper{
    overflow-wrap:break-word;
}

.text-center{
    text-align: center;
}
.content-grid{
    position: relative;
    margin: 0 auto;
    padding-top:5px;
    padding-right:10px;
    padding-left:5px;
    max-width:90%;
    height: auto;
    background-color:white;
    color:#283e4a;
    border-radius: 5px;   
}

.content-grid h2{
font-weight: bold;
font-size: 146%; 
text-align: left;
}

.grid-divider{
    margin-top: 10px;
}

header{
    margin: 0;
    padding:0;
}

.headings-color{
 color: greenyellow;
}

/***  Site Navigations styles  ****/
/**********************************/
.main-site-navigation{
    position: relative;
    display: inline;
    padding-top: 10px;
    text-align: right;
}
.main-site-navigation h6{
 display: inline;
 padding-left:10px;
 color:#121210;
  font-weight: lighter;
  font-size: 180%;
 line-height: 1.6em;
 text-transform: capitalize;
}

/******  Nav for top-menu *********************/
.main-site-navigation nav[class="top-menu"]{
    padding-left: 0;
    position:relative;
    display: inline-block;
}
.main-site-navigation nav[class="top-menu"] ul{
    position:relative;
     display: inline;
     padding-left: 5px;
    list-style:none;
}

.main-site-navigation nav[class="top-menu"] ul li{
 display: inline;
 font-size: 140%;
 font-weight: lighter;
}

.main-site-navigation nav[class="top-menu"] ul li a{
 display: inline;
 padding: 5px;
 color: #121210;
  font-weight: lighter;
  font-size: 140%;
 line-height: 1.6em;
 text-transform: uppercase;
 text-decoration: none;
}

.main-site-navigation nav[class="top-menu"] ul li a:hover{
 text-decoration: none;
 color:darkred;
}

/****  LOGO zone **************/

#logo{
    border: 0.2em solid blue;
}

.logo-row{
    position:relative;
    height:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5; 
}

.logo-row h1{
    text-transform: capitalize;
    font-size:180%;
    color:green;
    font-weight: bold;
    line-height: 1.6em;
}

/******  Nav for social networks *********************/

.main-site-navigation nav[class="social-networks"]{
    padding-left: 0;
    position:relative;
    display: inline-block;
}
.main-site-navigation nav[class="social-networks"] ul{
    position:relative;
     display: inline;
     padding-left: 5px;
    list-style:none;
}

.main-site-navigation nav[class="social-networks"] ul li{
 display: inline;
 font-size: 140%;
 font-weight: lighter;
}

.main-site-navigation nav[class="social-networks"] ul li a{
 display: inline;
 padding: 5px;
 color: #121210;
 font-weight: lighter;
 text-decoration: none;
}


.main-site-navigation nav[class="social-networks"] ul li a:hover{
 /*color:#549848;*/
 color:darkred;
}


/*************  End of top menu and  social networks styles *****/

/*******        Hero Zone       **********/


.hero-image{
  position: relative;
  top: -160px;
  height: 405px; /* You must set a specified height */ 
  width: inherit;
  background-image: url('../images/hero-image.jpg'); /* The image used */
  background-color:#fdb2c7; /* Used if the image is unavailable */
  background-position: right top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /*border: 1px solid darkred;*/
}

/** Profile picture styles  */
.profile-picture-zone{
    position: relative;
    /*top: 6vh;*/
    top: 6vh;
    padding-left: 40px;
    z-index: 1;
}

.profile-picture-zone h5{
    font-size: 160%;
    font-weight: lighter;
}

.profile-picture{
    /*width: 160px;
    height: 160px;*/
    width: 160px;
    height: 160px;
    border-radius: 50%;
}


.hero-text-zone{
    position: relative;
    height: auto;
    z-index:10;
}

.container-fluid .hero-text-zone{
 margin:0;
 padding:0;
}

.hero-text-zone h6{
    position: relative;
    display: block;
    /*top: -34vh;*/
    top: -48vh;
    padding-right:15px;
    text-align: right;
    /*font-size:108%;*/
    font-size:180%;
    font-weight: lighter;
    line-height: 1.2em;
    color:green;
    /*border-radius: 4px;*/
}


.hero-text-zone h6[class="competences"]{
    position: relative;
    display: block;
    /*top: -32vh;*/
    top: -44vh;
    padding-right:15px;
    padding-bottom: 6px;
    text-align: right;
    font-size:110%;
    font-weight: lighter;
    line-height: 1.2em;
    color:inherit;
    color:green;
    border-radius: 4px;
}



.hero-text-zone h6 span{
    position: relative;
    background-color: rgba(173, 255, 47, .1);
    color:green;
}


.hero-text-zone h1{
    position: relative;
    /*display:inline;
    top: -74vh;*/
    /*top: -94vh;*/
    left:0;
    /*top: -93vh;*/
    /*top: -617px;*/
    top: -567px;
    padding-right:15px;
    padding-bottom:8px;
    text-align: right;
    font-size:280%;
    font-weight: lighter;
    line-height: 1.6em;
    /*color: orange;*/
    /*color:darkred;    /*color:darkred;*/
    color:darkred;    /*color:darkred;*/
    /*background-color:greenyellow;*/
    /*background-color: rgba(173, 255, 47, .4);*/
    background-size: cover;
    border-radius: 4px;
    /*color: white;*/
}

.hero-text-zone hr{
    position: relative;
    top: -24vh;
    color:inherit;
}

.call-to-action-text{
 color:yellow;
  -webkit-text-fill-color:white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
 font-weight: lighter;
 font-size: 90%;
}

/********   **********/
.right-content-zone .content-grid h2{
padding-bottom: 5px;
/*color:#8b0000;*/
padding-left: 10px;
color:white;
/*background-color: rgba(173, 255, 47, .1);*/
background-color: greenyellow;
background-size: cover;
font-weight: bold;
font-size: 180%;
line-height: 1.6em;
text-align: left;
text-transform: uppercase;
}



/**** Hero-zone Navigations *****/

.hero-zone-menu-bar{
    position: relative;
    top: -44vh;
    display:inline-block;
    height:auto;
    text-align: right;
    text-transform: capitalize;
    background-color:white; 
    z-index: 13;
    }

.hero-zone-menu-bar nav ul{
    position:relative;
    margin:10px;
    padding:0;
    list-style:none;
}

.hero-zone-menu-bar nav ul li{
 display: inline;
 font-size: 140%;
 border:1px solid green;
 padding: 10px 5px 10px 5px;
}

.hero-zone-menu-bar nav ul li a{
 margin-bottom:0;
 padding: 10px 5px 10px 5px;
 color:greenyellow;
  font-weight: bold;
  font-size: 120%;
 /*line-height: 220%;*/
 line-height: 1.6em;
 text-transform: uppercase;
}

.hero-zone-menu-bar nav ul li a:hover{
 color:#adf146;
}

/**************** End of Hero-zone-Menu *******************/
.main-content-zone{
  background-color: #fff; /* Used if the image is unavailable */
}

.content-display{
  position:relative;
  /*top: -38vh;*/
  top: -38vh;
  padding-top:10px;
  z-index: 10;
}

.content-display h2{
font-weight: bold;
font-size: 220%;
line-height: 1.2em;
text-transform: uppercase;
}

.content-display p{
text-align: justify;
}


.right-content-zone{
 position:relative;
 margin:0;
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 /*background-color: #283e4a;*/
 background-color: #f5f5f5; 
 /*color:#c7d1d8;*/
 text-align: justify;
}

.right-content-zone h4 {
 font-weight: lighter;
    text-transform: capitalize;
}

/****  RIGHT SIDE BAR NAVIGATION ********************/ 
.right-content-zone ul {
 list-style:square;
 padding: inherit;
 padding-left: 50px;
}

.right-content-zone ul li {
 font-weight: lighter;
 color:#c7d1d8;
}
.right-content-zone ul li a{

font-size: 120%;
    line-height: 1.2em;
    color:green;
    
}

/******** horizontal rule ***/

.right-content-zone hr {
    position: relative;
    width: 90%;
    height: 1px;
    background-color:#c7d1d8;
}

.right-side-bar-adjust{
    position:relative;
    top:-42vh;
}

/*********************************************************/
/****************** FOOTER ZONE MENUS ********************/
/*********************************************************/
.footer-zone{
 position:relative;
 top: -36vh;
 /*margin-bottom:-35vh;*/
 /*padding-top: 5px;*/
 margin:0;
 padding-bottom: 20px;
 width:100%;
 height:auto;
 /*background-color: #283e4a;*/
 background-color: rgba(40, 62, 74, .5);
 color:#c7d1d8;
}

.footer-zone h2{
 
}

.description-summary{
    margin-top:0;
    padding-top: 0;

}

.description-summary h5{
    font-size:110%;
}

.description-summary p{
    text-align: justify;
}



.portfolios-zone{
    position: relative;
    display: inline-block;
    width:100%;
    height: auto;
    margin: 0;
    padding-bottom: 10px;
    background-image: url('../images/portfo-bg.jpg'); /* The image used */
    background-color: #fff; /* Used if the image is unavailable */
    background-size: cover;
    border: 1px solid red;
}

.portfolios-zone h1{
    text-align: center;
}
    


/******   CONTACT US ZONE *******/

.contactus-left-zone{
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
   /* border: 1px solid white;
    border-radius: 5px;*/
}

.contactus-left-zone h2{
text-decoration: overline;
font-weight: lighter;
font-size: 180%;
color: whitesmoke;
}

.contactus-left-zone h2:hover{

color:whitesmoke;
}

.contactus-zone{
    position:relative;
    width:100%;
    height: inherit;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid white;
    /*border-style: none;*/

}
.contactus-zone h2{
font-weight: lighter;
font-size: 180%;
text-transform: uppercase;
}

.contactus-zone button{
    margin-top:5px;
    
    padding-bottom: 5px;
    /*width:316px;*/
    width:150px;
    height:45px;
    background-color: #dc3545;
    color:whitesmoke;
    font-weight: lighter;
    font-size: 120%;
    border:none;
    border-radius: 6px;
}
.contactus-zone button:hover{
    color:whitesmoke;
}



/****** User agreement Styles ****/
/********************************/
.user-agreement{
    position: fixed;
    bottom: 0;
    left:0;
    width:inherit;
    height:36vh;
    /*background-color: rgba(173, 255, 47, .9);
    background-color: rgba(40, 62, 74, .1);*/
    /*background-color:#ec869b;*/
    background-color:whitesmoke;
    /*border-top: 1px solid darkred;*/
    z-index: 10;
}


.user-agreement p{
    padding-top: 50px;
    padding-left: 20px;
    color:#121210;
    font-weight: lighter;
    font-size: 120%;
    line-height:1.6em;
}
   
   

/******   END CONTACT ZONE *******/