/*********************      Common site CSS ****************************/
html {
 margin: 0;
 padding:0;
}

body {
background-color:#f5f5f5;
margin:0;
padding:0;
color: green;
}

a{
 color: green;
}
a:hover{
    text-decoration: none;
}

.text-wrapper{
    overflow-wrap:break-word;
}

.text-center{
    text-align: center;
}
.content-grid{
    position: relative;
    margin: 0 auto;
    /*margin-bottom: 4px;*/
    padding-top:5px;
    padding-right:10px;
    padding-left:5px;
    max-width:90%;
    /*height: 365px;*/
    height: auto;
    background-color:white;
    /*background-color:#f5f5f5;*/
    color:#283e4a;
    /*border: 1px solid #fff;*/
    border-radius: 5px;   
}

.content-grid h2{
font-weight: bold;
font-size: 146%; 
text-align: left;
}

.grid-divider{
    margin-top: 10px;
}


/**********  Page Structure CSS  styles***************************************/

header{
    margin: 0;
    padding:0;
}

.headings-color{
 color: greenyellow;
}

/***  Site Navigations styles  ****/
.top-menu-and-social-networks{
    position: relative;
    display: inline;
    padding-top: 10px;
    text-align: right;
}
.top-menu-and-social-networks h6{
 display: inline;
 padding-left:10px;
 font-weight: lighter;
 font-size: 180%;
 color:green;
}

/******  Nav for top-menu *********************/
.top-menu-and-social-networks nav[class="top-menu"]{
    padding-left: 0;
    position:relative;
    display: inline-block;
}
.top-menu-and-social-networks nav[class="top-menu"] ul{
    position:relative;
     display: inline;
     padding-left: 5px;
    list-style:none;
}

.top-menu-and-social-networks nav[class="top-menu"] ul li{
 display: inline;
 font-size: 140%;
 font-weight: lighter;
 /*border:1px solid greenyellow;*/
}

/*
.top-menu-and-social-networks nav[class="top-menu"] ul li:not(:last-child){
border-right:4px solid green;
}*/

.top-menu-and-social-networks nav[class="top-menu"] ul li a{
 display: inline;
 padding: 5px;
 color:green;
  font-weight: lighter;
  font-size: 120%;
 line-height: 1.6em;
}

/******  Nav for social networks *********************/

.top-menu-and-social-networks nav[class="social-networks"]{
    padding-left: 0;
    position:relative;
    display: inline-block;
}
.top-menu-and-social-networks nav[class="social-networks"] ul{
    position:relative;
     display: inline;
     padding-left: 5px;
    list-style:none;
}

.top-menu-and-social-networks nav[class="social-networks"] ul li{
 display: inline;
 font-size: 140%;
 font-weight: lighter;
}
/*
.top-menu-and-social-networks nav[class="social-networks"] ul li:not(:last-child){
border-right:4px solid green;
}*/

.top-menu-and-social-networks nav[class="social-networks"] ul li a{
 display: inline;
 padding: 5px;
 color: green;
}


/*************  End of top menu and  social networks styles *****/

/*
.social-image{
 width:32px;
 height:32px;
 padding: 5px;
 text-align:center;
 background-color:inherit;
 border-radius: 50%;
}*/

/**** Hero-zone Menu *****/

.hero-zone-menu-bar{
    position: relative;
    /*top: -48vh;*/
    top: -48vh;
    display:inline-block;
    height:auto;
    text-align: right;
    text-transform: capitalize;
    /*padding-top: 10px;*/
    background-color:white; 
    z-index: 13;
    }

.hero-zone-menu-bar nav ul{
    position:relative;
    margin:0;
    padding:0;
    list-style:none;
}

.hero-zone-menu-bar nav ul li{
 display: inline;
 font-size: 140%;
 border:1px solid green;
 padding: 10px 5px 10px 5px;
}

/*.hero-zone-menus nav ul li:not(:last-child){
border-right:1px solid green;
}*/

.hero-zone-menu-bar nav ul li a{
    margin-bottom:0;
 padding: 10px 5px 10px 5px;
 color:greenyellow;
  font-weight: lighter;
  font-size: 120%;
 /*line-height: 220%;*/
 line-height: 1.6em;
}

/**************** End of Hero-zone-Menu *******************/


/************      right side bar menu *******************/
.content-grid ul li a{
    font-size: 120%;
    line-height: 1.2em;
    color:inherit;
}


/****  LOGO zone **************/

#logo{
    /*border: 0.2em solid blue;*/
    border: 0.2em solid orange;
}

.logo-row{
    position:relative;
    height:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5; 
}

.logo-row h1{
    text-transform: capitalize;
    font-size:180%;
    color:green;
    font-weight: bold;
    line-height: 1.6em;
}
/*.inline-menu{
display: inline;
}*/

/*******        Hero Zone       **********/


.hero-image{
  position: relative;
  /*top: -25vh;*/
  top: -160px;
  /*height: 265px; /* You must set a specified height */ 
  height: 365px; /* You must set a specified height */ 
  width: inherit;
  background-image: url('../images/hero-image.jpg'); /* The image used */
  background-color: #fff; /* Used if the image is unavailable */
  background-position: right top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*border: 1px solid greenyellow;*/
  /*z-index: 8;*/
}

/** Profile picture styles  */
.profile-picture-zone{
    position: relative;
    /*top: 6vh;*/
    top: 6vh;
    padding-left: 40px;
    z-index: 1;
}

.profile-picture-zone h5{
    font-size: 160%;
    font-weight: lighter;
}

.profile-picture{
    /*width: 160px;
    height: 160px;*/
    width: 160px;
    height: 160px;
    border-radius: 50%;
}


.hero-text-zone{
    position: relative;
    height: auto;
    z-index:10;
}

.container-fluid .hero-text-zone{
 margin:0;
 padding:0;
}

.hero-text-zone h6{
    position: relative;
    display: block;
    /*top: -34vh;*/
    top: -48vh;
    padding-right:15px;
    text-align: right;
    /*font-size:108%;*/
    font-size:180%;
    font-weight: lighter;
    line-height: 1.2em;
    color:green;
    border-radius: 4px;
}


.hero-text-zone h6[class="competences"]{
    position: relative;
    display: block;
    /*top: -32vh;*/
    top: -44vh;
    padding-right:15px;
    padding-bottom: 6px;
    text-align: right;
    font-size:110%;
    font-weight: lighter;
    line-height: 1.2em;
    color:inherit;
    color:green;
    border-radius: 4px;
}



.hero-text-zone h6 span{
    position: relative;
    background-color: rgba(173, 255, 47, .1);
    color:green;
}


.hero-text-zone h1{
    position: relative;
    /*display:inline;
    top: -74vh;*/
    /*top: -94vh;*/
    left:0;
    /*top: -93vh;*/
    /*top: -617px;*/
    top: -567px;
    padding-right:15px;
    padding-bottom:8px;
    text-align: right;
    font-size:220%;
    font-weight: lighter;
    line-height: 1.6em;
    /*color:darkred;*/
    color: orange;
    /*background-color:greenyellow;*/
    background-color: rgba(173, 255, 47, .4);
    background-size: cover;
    border-radius: 4px;
    /*color: white;*/
}

.hero-text-zone hr{
    position: relative;
    top: -24vh;
    color:inherit;
}

.call-to-action-text{
 color:yellow;
  -webkit-text-fill-color:white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
 font-weight: lighter;
 font-size: 90%;
}

/********   **********/
.right-content-zone .content-grid h2{
padding-bottom: 5px;
/*color:#8b0000;*/
padding-left: 10px;
color:white;
/*background-color: rgba(173, 255, 47, .1);*/
background-color: orange;
background-size: cover;
font-weight: lighter;
font-size: 180%;
line-height: 1.6em;
text-align: left;
text-transform: capitalize;
}
/*****************/

.main-content-zone{
  background-color: #fff; /* Used if the image is unavailable */
}




.content-display{
  position:relative;
  /*top: -38vh;*/
  top: -38vh;
  padding-top:10px;
  z-index: 15;
}

.content-display h2{
font-weight: bold;
font-size: 220%;
line-height: 1.2em;
}

.content-display p{
text-align: justify;
}


.right-content-zone{
 position:relative;
 margin:0;
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 /*background-color: #283e4a;*/
 background-color: #f5f5f5; 
 /*color:#c7d1d8;*/
 text-align: justify;
}

.right-content-zone h4 {
 font-weight: lighter;
    text-transform: capitalize;
}
.right-content-zone ul {
 list-style:square;
 padding: inherit;
 padding-left: 50px;
}

.right-content-zone ul li {
 font-weight: lighter;
 color:#c7d1d8;
}

.right-content-zone hr {
    position: relative;
    width: 90%;
    height: 1px;
    background-color:#c7d1d8;
}

.right-side-bar-adjust{
    position:relative;
    top:-42vh;
}

.footer-zone{
 position:relative;
 top: -36vh;
 margin-bottom:-35vh;
 padding-top: 5px;
 width:100%;
 height:auto;
 background-color: #283e4a;
 color:#c7d1d8;
}

.description-summary{
    margin-top:0;
    padding-top: 0;
    /*border: 1px solid #111;*/
}

.description-summary h5{
    font-size:110%;
}

.description-summary p{
    text-align: justify;
}