/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');*/

/********************* General site style rules ****************************/
*{
    box-sizing: border-box;
}

html {
 margin: 0;
 padding:0;
}

body {
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin:0;
padding:0;
color: #121210;
background-image: url('../images/content-bg.jpg');
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
}

/****   Header styles ****/
header{
    position:relative;
    margin:0;
    padding:0;
    width:auto;
    height:90vh;
  /*background-image: url('../images/header-bg.jpg');*/
  background-color: #d4eefb;
  background-color:greenyellow;
  background-image: url('../images/content-bg.jpg');
  background-color:whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
  /*border-bottom: 1px solid #121210;*/
  z-index:14;
}
/****  nav styles ****************/
.top-navigation-zone{
    width:auto;
    height: 28vh;
    padding-left:35px;
    padding-right:35px;
}

/*******        logo zone css style ***************/
.logo{
 position: relative;
 margin: 0 auto;
 text-align: center;
 /*border: 1px solid red;*/
}

.logo h1{
padding-top:10px;
margin:0 auto;
 color:#121210;
 color:#20c997;
 font-size: 1.4rem;
 font-weight: lighter;
 line-height: 1.6rem;
 text-transform: capitalize;
 text-align: center;
}

/***  styles for links *****/
.top-nav-links{
    position: relative;
    padding-top:6px;
    display: block;
    margin:0 auto;
    text-align: center; 
}

.top-nav-links h6{
position: relative;
margin:0 auto;
  display:inline-block;
   color:#121210;
  font-size: 1.4rem;
 font-weight: lighter;
 line-height: 1.6rem;
 text-transform: capitalize;
}

nav{
  position:relative;
  display: inline-block;
}

nav ul{
     padding-left: 5px;
    list-style:none;
}
nav ul li{
 display: inline;
}
nav ul li a{
   padding-right: 5px;
   padding-top: 0px;
   color: #121210;
   color:#20c997;
    font-size: 1.4rem;
 font-weight: lighter;
 line-height: 1.6rem;
 text-decoration: none;
}

nav ul li a:hover{
 color: #121210;
 text-decoration: none;
}

/*****************  styles for banner zone i.e. for big logo and home image ***************/


.banner-zone{
 position:relative;
 padding-left: 10px;
 padding-right:60px;

}
/*** BIG LOGO zone css styles ******************/
.big-logo{
position: relative;
margin:0 auto;
text-align: center;
width: inherit;
height: 48vh;
}

.big-logo h1{
position:relative;
top:130px;
font-size: 3.5rem;
font-weight: lighter;
text-transform: capitalize;
color:#121210;
text-align:center;
}

/*** HOME IMAGE zone css styles ******************/
.home-image{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    background-color: inherit;
    text-align: center;
    border: 1px solid whitesmoke;
}


.home-image img{
  position: relative;
  display: inline;
  width:auto;
  height:330px;
  text-align: center;
}
.home-image h6{
    position:relative;
    margin: 0 auto;
    display:block;
    padding-top: 5px;
    font-size: 1.1rem;
     font-weight: lighter;
 line-height: 1.6rem;
     text-align:center;
}

.home-image h2{
 position:relative;
 margin: 0 auto;
 padding-top: 4px;
 padding-bottom: 5px;
 font-size: 2.9rem;
 line-height: 1.8rem;
 font-weight: lighter;
 text-align:center;
}


/***     Other resources menu-------------------**/

.other-resources{
    position: relative;
    top:70px;
    display: block;
    width: auto;
    height: auto;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    text-align:center;
    /*border: 1px solid #20c997;*/
}


.other-resources h6{
    position: relative;
    display: inline;
    margin:0 auto;
    padding-bottom: 15px;
}

.other-resources ul{
    list-style:none;
}


.other-resources ul li{
    position:relative;
    margin:0 auto;
    padding: 5px;
display: inline;
text-align:center;
}

.other-resources ul li a{
    position:relative;
    display: inline;
 font-size: 1.2rem;
 font-weight: lighter;
 line-height: 1.6rem;
 color: #121210;
 text-decoration: none;
}

.other-resources ul li a:hover{
 color:#20c997;
 text-decoration: none;
}






/****  Header styles ends ***/


/****  Content about me -- CSS styles ******/

.content-section{
    position: relative;
    margin:0;
    border:0;
    padding-left: 35px;
    padding-right: 35px;
}
.about-me{
 position: relative;
 margin: inherit;
 padding:inherit;
 width:auto;
}

.about-me h2{
position:relative;
font-weight: bold;
font-size: 1.8rem;
line-height: 1.9rem;
text-transform: uppercase;
}


.short-desc{
    position:relative;
    margin:0 auto;
    padding: 50px;
     width:auto;
     display:inline-block;
    background-color:#fff;
    background-color:#f1c9c9;
    background-color: #ded9d9;
    text-align: justify;
    /*border:1px solid white;*/
}

.short-desc p{
    position:relative;
    display:inline;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.5rem;
    color: #121210;
    color:#656560;
    color:#2d482b;
}

.short-desc img{
 position: relative;
 display:inline;
 border-radius: 5px;
}

.short-cv{
 position:relative;
 padding:35px;
}

.short-cv h2{
    position:relative;
    padding: 10px 0 10px 0;
    font-size: 2.1rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
 text-transform: uppercase;
}

.short-cv p{
    position:relative;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.5rem;
    color: #121210;
    color:#656560;
    color:#2d482b;
}


.space-free{
  padding-top: 50px;
  padding-bottom: 50px;
}

.space-free h2{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
font-size: 2.2rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
 text-transform: uppercase;
}

/**  css style for image in the short cv...*********/
.graphics{
  position:relative;
  padding-right:50px;
  display:inline-block;
  width:auto;
  height:auto;
}

.graphics img{
    position:relative;
    margin:5px;
    padding:5px;
    display:inline;
    width:400px;
    height:250px;
}