@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/*General site style rules*/
*{
    box-sizing: border-box;
}

html {
 margin: 0;
 padding:0;
}

body {
font-family:"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
margin:0;
padding:0;
color: #121210;
background-color: #c6c9d2;
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
  word-wrap: break-word;
}
/***  default style for links *****/

a{
    color:#901e0d;
    text-decoration: none;
}

a:hover{
    color:#121210;
    text-decoration: none;
}

/****   Header styles ****/
header{
    position:relative;
    top:0;
    padding:0;
    /*margin-bottom: 20px;*/
    width:auto;
    height:95vh;
  /*background-image: url('../images/content-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;*/ 
  background-color:#f3eafb;
  border-bottom: 1px solid whitesmoke;
  /*border-style: inset;*/
  z-index:14;
}
/****  nav styles ****************/
.top-navigation-zone{
    position:relative;
    width:auto;
    height:28vh;
}

/*logo zone css style*/
.logo{
 position: relative;
 margin: 0 auto;
 text-align: left;
}

.logo h1{
padding-top:10px;
padding-left:35px;
margin:0 auto;
  color:#20c997;
  color:#36a707;
  color:#121210;
 font-size: 1.8rem;
 font-weight: lighter;
 line-height: 1.8rem;
 text-transform: capitalize;
 text-align: left;
 text-decoration: overline;
}

/***  styles for links *****/
.top-nav-links{
    position: relative;
    padding-top:10px;
    display: block;
    margin:0 auto;
    text-align: center; 
}

.top-nav-links h6{
position: relative;
  display:inline-block;
   color:#121210;
  font-size: 1.8rem;
 font-weight: lighter;
 line-height: 1.8rem;
 text-transform: capitalize;
 text-decoration: overline;
}

nav{
  position:relative;
  display: inline-block;
}

nav ul{
     padding-left: 5px;
    list-style:none;
}
nav ul li{
 display: inline;
}
nav ul li a{
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 0px;
   color: #121210;
   color:#20c997;
   color:#36a707;
    font-size: 1.4rem;
 font-weight: lighter;
 line-height: 1.6rem;
 text-decoration: none;
}

nav ul li a:hover{
 color: #121210;
 text-decoration: none;
}

/*****************  styles for banner zone i.e. for big logo and home image ***************/


.banner-zone{
 position:relative;
 padding:0;
 margin:0;
 display: flex;
}

/*** BIG LOGO zone css styles ******************/
.big-logo{
position: relative;
margin:0 auto;
padding:0;
text-align: center;
vertical-align: middle;
width: 100%;
height: 48vh;
}

.big-logo h1{
position:relative;
margin:0;
padding:0;
top:23vh;
font-size: 3.5rem;
font-weight: lighter;
line-height: 1.8rem;
text-transform: capitalize;
color:#121210;
text-align:center;
vertical-align: middle;
}

/*** HOME IMAGE zone css styles ******************/
.home-image{
    position: relative;
    /*top:8vh;*/
    padding:0;
    margin: 0px;
    width:inherit;
    height: inherit;
    background-color: inherit;
}

.home-image-content{
    position: relative;
    top:8vh;
    margin-left: 20px;
    margin-right: 20px;
    width:auto;
    height: 40vh;
    background-color: #f3eafb;
    text-align: center;
    /*background-color: #668066;*/
    border: 1px solid #4b4b8f;
}



.home-image-content h2{
 padding-top: 4vh;
 font-size: 3.5rem;
 line-height: 1.8rem;
 font-weight: lighter;
 text-align:center;
}

.home-image-content h6{
 padding-top: 1vh;
 font-size: 1.8rem;
 line-height: 1.8rem;
 font-weight: lighter;
 text-align:center;
}


/***     Other resources menu-------------------**/

.other-resources{
    position: relative;
    margin:0;
    top: 8vh;
    display: inline-flex;
    width: auto;
    height: auto;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
}

.other-resources ul{
    position:relative;
    margin:0;
    padding:0;
    list-style:none;
}


.other-resources ul li{
    position:relative;
    margin:0;
    padding:10px;
    display: inline;
}

.other-resources ul li a{
    position:relative;
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: #121210;
    text-decoration: none;
}

.other-resources ul li a:hover{
 color:#36a707;
 text-decoration: none;
}

/****  Header styles ends ***/


/****  Content about me -- CSS styles ******/

.content-section{
    position: relative;
    top:0vh;
    padding-top: 15vh;
    border:0;
    display: block;
}
.about{
 position: relative;
 display:block;
}

.about-title {
    position:relative;
    padding-left:35px;
font-size: 2.1rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
 text-transform: uppercase;
}


.about-short-text{
    position:relative;
    /*padding: 50px;*/
     width:100%;
    background-color:#fff;
    background-color:#f1c9c9;
    background-color: #ded9d9;
    text-align: justify;
}

.special-padding{
    position: relative;
    padding-top: 40px;
}

.about-short-text p{
    position:relative;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:35px;
    padding-right:35px;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
    color:#656560;
    color:#2d482b;
}


.profile-image{
    position:relative;
    margin:0 auto;
    padding-left: 50px;
     width:100%;
     text-align: left;
}
.profile-image img{
 position: relative;
 margin: 0 auto;
 width:200px;
 height:200px;
 text-align: center;
}

.short-summary{
 position:relative;
 padding:35px;
}

.short-summary h2{
    position:relative;
    padding: 10px 0 10px 0;
    font-size: 2.1rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
 text-transform: uppercase;
}

.short-summary p{
    position:relative;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 1.8rem;
    text-align: justify;
    color: #121210;
    color:#656560;
    color:#2d482b;
}

.space-free{
  padding-top: 25px;
  padding-bottom: 25px;
}

/**  css style for image in the short cv...*********/
.graphics{
  position:relative;
  margin-bottom: 5px;
  /*padding-right:50px;*/
  display:inline;
  width:auto;
  height:auto;
}

.graphics img{
    position:relative;
    display:inline;
    width:540px;
    height:300px;
    /*animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;*/
   
}
.link-buttons{
    position:relative;
    margin-left: 5px;
    margin-top:2px;
    display: inline;
    padding:10px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color:#dc3545;
    color:#fff;
}

/**** link buttons initial state***/
.link-buttons,#competences{
 background-color: #d0979c;
}
.link-buttons,#projects{
 background-color:#9ab9a1;
}
.link-buttons,#cv{
 background-color:#969891;
}
/***  Link buttons on hover****/

.link-buttons,#competences:hover{
 background-color: #e0adb2;
 color:#fff;
}

.link-buttons,#projects:hover{
 background-color:#94dba4;
 color:#fff;
}
.link-buttons,#cv:hover{
 background-color:#afb69e;
 color:#fff;
}


/**** styles for other pages ----**/

/*** competences page styles ...***********/


.competences{
 position:relative;
 background-color: inherit;
    /* top:170px;*/
 padding:70px;
}

.competences h2{
    position:relative;
    padding: 0px 0 10px 0;
    font-size: 2.1rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color: #121210;
 text-transform: uppercase;
}

.competences p{
    position:relative;
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.8rem;
    text-align: justify;
    color:#121210;
}


.competences h3{

 position:relative;
    padding: 10px 0 10px 0;
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.6rem;
    color: #121210;
 text-transform: uppercase;

}

.competences h4{

 position:relative;
    padding: 10px 0 10px 0;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8rem;
    color:#6aa90a;
 text-transform: capitalize;

}


/*** images styles in the competences page *********/

.competences img{
    position:relative;
    margin-bottom:25px;
    display: inline;
    width:500px;
    height:150px;
}

.projects{
    position:relative;
    padding-top:0;
    padding-bottom:10px;
}

/***    Images style in the page for projects   ***********/
/** style for projects thumbnails images ***********/

.projects img{
    position:relative;
    padding-top:25px;
    display: inline;
    width:300px;
    height:200px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.projects img:hover{
    position:relative;
    padding-top:25px;
    display: inline;
    width:300px;
    height:200px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.projects h2{
    position:relative;
    padding-top:25px;
}



.font-awasome-icons-list ul {
  list-style: none;
  padding: 0;
}
.font-awasome-icons-list li {
  padding-left: 1.3em;
  font-size:1.8rem;
  font-weight: lighter;
  line-height: 1.8rem;
  color:#121210;
}
.font-awasome-icons-list li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}



/****************** FOOTER ZONE MENUS ********************/

.footer-zone{
 position:relative;
 margin:0;
 padding-left: 35px;
 padding-right:35px;
 padding-bottom: 20px;
 width:100%;
 height:auto;
 background-color: rgba(40, 62, 74, .5);
 color:#c7d1d8;
}

.portfolios-zone{
    position: relative;
    display: inline-block;
    width:100%;
    height: auto;
    margin: 0;
    padding-bottom: 10px;
    background-image: url('../images/portfo-bg.jpg'); /* The image used */
    background-color:inherit; /* Used if the image is unavailable */
    background-size: cover;
}

.portfolios-zone h1{
    text-align: center;
}
    
/******   CONTACT US ZONE *******/

.contactus-left-zone{
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
}

.contactus-left-zone h2{
text-decoration: overline;
font-weight: lighter;
font-size: 180%;
color: whitesmoke;
}

.contactus-left-zone h2:hover{
color:whitesmoke;
}

.contactus-zone{
    position:relative;
    width:100%;
    height: inherit;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 100px;*/
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #901e0d;
}
.contactus-zone h2{
font-weight: lighter;
font-size: 180%;
text-transform: uppercase;
}



.contactus-left-zone .content-left h2{
 background-color:#901e0d;
}

.contactus-left-zone .content-left h2:hover{
   background-color:#b57277;
}




.contactus-zone button{
    margin-top:5px;
    padding-bottom: 5px;
    width:150px;
    height:45px;
    background-color:#901e0d;
    color:whitesmoke;
    font-weight: lighter;
    font-size: 120%;
    border:none;
    border-radius: 6px;
}
.contactus-zone button:hover{
    background-color:#b57277;
    color:whitesmoke;
}

/****** User agreement Styles ****/

.user-agreement{
    position: relative;
    width:100%;
    height:70px;
    background-color: rgba(245, 245, 245, .9);
    z-index: 16;
}


.user-agreement p{
    padding-top: 5px;
    /*padding-left: 35px;
    padding-right: 35px;*/
    padding-bottom: 2px;
    margin: 0 auto;
    color:green;
    text-align:center;
    font-weight: lighter;
    font-size: 90%;
    line-height:1.2em;
}
   
   /******   end of CSS style *******/